/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
/* line 293, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 47.9375em)/";
  width: 0em;
}

/* line 298, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:48em)/";
  width: 48em;
}

/* line 303, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 308, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 313, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 321, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 327, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 331, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #808285;
  padding: 0;
  margin: 0;
  font-family: "adobe-garamond-pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 344, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 347, ../bower_components/foundation/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 351, ../bower_components/foundation/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 353, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 357, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 364, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 365, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 366, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 159, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 160, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 367, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 368, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 369, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 370, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 371, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 373, ../bower_components/foundation/scss/foundation/components/_global.scss */
.start {
  float: left !important;
}

/* line 374, ../bower_components/foundation/scss/foundation/components/_global.scss */
.end {
  float: right !important;
}

/* line 375, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-start {
  text-align: left !important;
}

/* line 376, ../bower_components/foundation/scss/foundation/components/_global.scss */
.text-end {
  text-align: right !important;
}

/* line 382, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 385, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 395, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 398, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 132, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination {
  display: block;
  height: 1.33333rem;
  margin-left: -0.27778rem;
}
/* line 95, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li {
  height: 1.33333rem;
  color: #222222;
  font-size: 0.77778rem;
  margin-left: 0.27778rem;
}
/* line 101, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li a {
  display: block;
  padding: 0.05556rem 0.55556rem 0.05556rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 108, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li:hover a,
ul.pagination li a:focus {
  background: #e6e6e6;
}
/* line 47, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li.unavailable a {
  cursor: default;
  color: #999999;
}
/* line 51, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  background: transparent;
}
/* line 60, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li.current a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default;
}
/* line 66, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #008cba;
}
/* line 119, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
ul.pagination li {
  float: left;
  display: block;
}

/* Pagination centred wrapper */
/* line 137, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.pagination-centered {
  text-align: center;
}
/* line 119, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.pagination-centered ul.pagination li {
  float: none;
  display: inline-block;
}

/* Start to customize Reverie */
/* line 30, ../scss/style.scss */
a, a:visited, a:hover, a:visited:hover {
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

/* line 35, ../scss/style.scss */
figure {
  margin: 0 auto 1.11111rem;
}

/* line 39, ../scss/style.scss */
img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}

/* line 44, ../scss/style.scss */
img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}

/* line 49, ../scss/style.scss */
img.aligncenter {
  display: block;
  margin: 18px auto;
}

/* line 56, ../scss/style.scss */
.gallery dt, .gallery dl {
  display: inline-block;
}
/* line 59, ../scss/style.scss */
.gallery dl {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* line 66, ../scss/style.scss */
figure.figure {
  margin: 0 auto;
}
/* line 69, ../scss/style.scss */
figure.figure figcaption {
  font-size: 0.77778rem;
  line-height: 1.4;
  font-style: italic;
  padding: 8px 10px;
  color: #999;
  margin-bottom: 1.11111rem;
  display: table-caption;
  caption-side: bottom;
}

/* line 81, ../scss/style.scss */
figure.alignright.figure {
  float: right;
  margin: 0 0 18px 18px;
}

/* line 86, ../scss/style.scss */
figure.alignleft.figure {
  float: left;
  margin: 0 18px 18px 0;
}

/* line 91, ../scss/style.scss */
.footer-widget {
  background-color: #eee;
}

/* line 95, ../scss/style.scss */
body > header.contain-to-grid {
  margin-bottom: 1.77778rem;
  max-width: 100%;
  padding-bottom: 0;
}

/* line 101, ../scss/style.scss */
.index-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.77778rem;
  margin-bottom: 1.77778rem;
}

/* line 107, ../scss/style.scss */
span.author,
time {
  font-size: 0.83333rem;
  color: #999;
}
/* line 111, ../scss/style.scss */
span.author a,
time a {
  color: #999;
  font-weight: bold;
}
/* line 114, ../scss/style.scss */
span.author a:hover, span.author a:focus,
time a:hover,
time a:focus {
  color: #808285;
}

/* line 123, ../scss/style.scss */
.entry-author {
  background-color: #fbfbfb;
  border: none;
  padding: 2.77778rem 4.44444rem;
  margin: 2.77778rem -1.11111rem;
}
/* line 128, ../scss/style.scss */
.entry-author .avatar {
  margin-right: 2.22222rem;
  margin-bottom: 1.33333rem;
}
/* line 133, ../scss/style.scss */
.entry-author h4 a {
  color: #999;
}
/* line 135, ../scss/style.scss */
.entry-author h4 a:hover, .entry-author h4 a:focus {
  color: #808285;
}
/* line 140, ../scss/style.scss */
.entry-author p {
  color: #bbb;
}

/* line 145, ../scss/style.scss */
.entry-tags {
  color: #999;
  font-size: 0.83333rem;
}
/* line 148, ../scss/style.scss */
.entry-tags a {
  color: #999;
}
/* line 150, ../scss/style.scss */
.entry-tags a:hover, .entry-tags a:focus {
  color: #808285;
}

/* line 158, ../scss/style.scss */
.page-numbers {
  color: #999;
  display: block;
  height: 1.33333rem;
  margin-left: -0.27778rem;
}
/* line 95, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li {
  height: 1.33333rem;
  color: #222222;
  font-size: 0.77778rem;
  margin-left: 0.27778rem;
}
/* line 101, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li a {
  display: block;
  padding: 0.05556rem 0.55556rem 0.05556rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 108, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li:hover a,
.page-numbers li a:focus {
  background: #e6e6e6;
}
/* line 47, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li.unavailable a {
  cursor: default;
  color: #999999;
}
/* line 51, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
  background: transparent;
}
/* line 60, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li.current a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default;
}
/* line 66, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li.current a:hover, .page-numbers li.current a:focus {
  background: #008cba;
}
/* line 119, ../bower_components/foundation/scss/foundation/components/_pagination.scss */
.page-numbers li {
  float: left;
  display: block;
}

/* line 163, ../scss/style.scss */
.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

/* line 168, ../scss/style.scss */
.page-numbers li span.current {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 172, ../scss/style.scss */
.page-numbers li {
  margin-left: 0.44444rem;
}

/* line 178, ../scss/style.scss */
.page-numbers li span:hover a,
.page-numbers li span a:focus {
  background: #e6e6e6;
}
/* line 182, ../scss/style.scss */
.page-numbers li span.current {
  background: #008cba;
  padding: 0.05556rem 0.55556rem 0.05556rem;
  color: white;
  font-weight: bold;
  cursor: default;
}

/* line 191, ../scss/style.scss */
.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

/* line 197, ../scss/style.scss */
ol.commentlist {
  margin-left: 0;
  margin-top: 2em;
}
/* line 200, ../scss/style.scss */
ol.commentlist p {
  font-size: 0.83333rem;
  line-height: 1.5;
}
/* line 204, ../scss/style.scss */
ol.commentlist ul.children {
  margin-left: 3.55556rem;
}
/* line 207, ../scss/style.scss */
ol.commentlist li {
  list-style: none;
  margin-bottom: 2em;
}
/* line 211, ../scss/style.scss */
ol.commentlist li .comment-author img {
  float: left;
  margin: 0 1em 0 0;
}
/* line 215, ../scss/style.scss */
ol.commentlist li .author-meta {
  display: inline-block;
}
/* line 217, ../scss/style.scss */
ol.commentlist li .author-meta cite.fn {
  font-style: normal;
  font-weight: 600;
  margin-right: 0.44444rem;
}
/* line 222, ../scss/style.scss */
ol.commentlist li .author-meta time a {
  color: #ccc;
  font-size: 0.77778rem;
  margin-right: 0.44444rem;
}
/* line 227, ../scss/style.scss */
ol.commentlist li .author-meta .comment-edit-link {
  color: #bbb;
  font-size: 0.77778rem;
}
/* line 232, ../scss/style.scss */
ol.commentlist li section.comment {
  margin-left: 3.55556rem;
  margin-bottom: 1.77778rem;
}
/* line 235, ../scss/style.scss */
ol.commentlist li section.comment a.comment-reply-link {
  font-size: 0.77778rem;
  font-weight: 600;
  color: #bbb;
}
/* line 239, ../scss/style.scss */
ol.commentlist li section.comment a.comment-reply-link:hover, ol.commentlist li section.comment a.comment-reply-link:focus {
  color: #808285;
}

/* line 250, ../scss/style.scss */
#sidebar {
  margin-top: 1.11111rem;
}

/* line 255, ../scss/style.scss */
footer.full-width {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 2.66667rem;
}
/* line 259, ../scss/style.scss */
footer.full-width p {
  font-size: 0.77778rem;
}
/* line 262, ../scss/style.scss */
footer.full-width a {
  color: #666;
  font-size: 0.83333rem;
}
/* line 265, ../scss/style.scss */
footer.full-width a:hover, footer.full-width a:focus {
  color: #808285;
}
/* line 269, ../scss/style.scss */
footer.full-width .love-reverie {
  border-top: 1px solid #ccc;
  padding-top: 1.33333rem;
}

/* line 276, ../scss/style.scss */
.admin-bar > .fixed {
  margin-top: 1.77778rem;
}

/* line 280, ../scss/style.scss */
.f-topbar-fixed > .container {
  margin-top: 1.77778rem;
}

/* line 286, ../scss/style.scss */
ul {
  margin: 0;
  list-style-type: none;
  margin-bottom: 0;
}

/* line 294, ../scss/style.scss */
#search-icon {
  list-style: none;
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 0.55556rem;
  margin-left: 0.55556rem;
  background: url("../img/search-icon.png") no-repeat center;
}

/* line 305, ../scss/style.scss */
.top-bar-search form input[type="text"] {
  height: 50px;
  font-size: 1.11111rem;
}
/* line 308, ../scss/style.scss */
.top-bar-search form input[type="text"]::-webkit-input-placeholder {
  color: #ff9000;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.75px;
}
/* line 315, ../scss/style.scss */
.top-bar-search form input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #ff9000;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.75px;
}
/* line 322, ../scss/style.scss */
.top-bar-search form input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #ff9000;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.75px;
}
/* line 329, ../scss/style.scss */
.top-bar-search form input[type="text"]:-ms-input-placeholder {
  color: #ff9000;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.75px;
}

@media only screen {
  /* TYPOGRAPHY */
  /* line 344, ../scss/style.scss */
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    border-bottom: 1px solid #8ad1cd;
    margin-bottom: 1.11111rem;
  }
  /* line 351, ../scss/style.scss */
  h2 a {
    color: #ff9000;
  }
  /* line 355, ../scss/style.scss */
  h2:after {
    content: "";
    display: block;
    border-top: 1px solid #8ad1cd;
    height: 3px;
  }

  /* line 363, ../scss/style.scss */
  h3 {
    text-transform: uppercase;
    font-style: italic;
    color: #ffb400;
  }

  /* line 369, ../scss/style.scss */
  h4 {
    text-transform: uppercase;
    font-family: "alternate-gothic-no-2-d",sans-serif;
    font-size: 1.33333rem;
    margin-top: 7px;
    color: #8ad1cd;
    border-bottom: 1px solid #8ad1cd;
  }
  /* line 377, ../scss/style.scss */
  h4:after {
    content: "";
    display: block;
    border-top: 1px solid #8ad1cd;
    height: 3px;
  }

  /* line 385, ../scss/style.scss */
  h5 {
    color: #589aae;
    text-transform: uppercase;
    font-family: "alternate-gothic-no-2-d",sans-serif;
    font-size: 2rem;
    border-top: 1px solid #8ad1cd;
    border-bottom: 1px solid #8ad1cd;
    line-height: 0.9;
    text-align: center;
    padding: 7px 0 0 0;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
  }

  /* line 399, ../scss/style.scss */
  p {
    font-size: 0.95rem;
  }

  /* GLOBAL */
  /* line 405, ../scss/style.scss */
  .social-media {
    display: none;
  }

  /* line 409, ../scss/style.scss */
  .top-bar.expanded ul.title-area {
    background: #8ad1cd;
  }
  /* line 412, ../scss/style.scss */
  .top-bar.expanded ul.title-area .toggle-topbar a span {
    box-shadow: none;
  }

  /* HEADER */
  /* line 419, ../scss/style.scss */
  header {
    margin-bottom: 1.11111rem;
  }
  /* line 422, ../scss/style.scss */
  header:after {
    content: "";
    display: block;
    border-bottom: 1px solid #8ad1cd;
    height: 1px;
  }

  /* line 430, ../scss/style.scss */
  #header-search {
    margin-top: 1rem;
    padding-left: 0;
  }
  /* line 434, ../scss/style.scss */
  #header-search form input[type="text"]::-webkit-input-placeholder {
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }
  /* line 441, ../scss/style.scss */
  #header-search form input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }
  /* line 448, ../scss/style.scss */
  #header-search form input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }
  /* line 455, ../scss/style.scss */
  #header-search form input[type="text"]:-ms-input-placeholder {
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }

  /* line 466, ../scss/style.scss */
  .top-bar ul.title-area {
    background: #8ad1cd;
  }
  /* line 470, ../scss/style.scss */
  .top-bar ul.title-area li.name h1 {
    padding: 4px 0 0 0;
  }
  /* line 474, ../scss/style.scss */
  .top-bar ul.title-area li.name h1 a {
    text-indent: -9999px;
    background: url("../img/mobile-logo.png");
    width: 128px;
    height: 40px;
    background-size: cover;
    margin: 0 auto;
  }
  /* line 485, ../scss/style.scss */
  .top-bar .toggle-topbar a span {
    box-shadow: none;
  }
  /* line 490, ../scss/style.scss */
  .top-bar ul.top-nav li {
    text-transform: uppercase;
  }
  /* line 492, ../scss/style.scss */
  .top-bar ul.top-nav li a {
    font-family: "alternate-gothic-no-2-d",sans-serif;
    font-size: 1rem;
  }
  /* line 497, ../scss/style.scss */
  .top-bar ul.top-nav li:nth-of-type(6), .top-bar ul.top-nav li:nth-of-type(7) {
    display: none;
  }

  /* line 504, ../scss/style.scss */
  #tagline {
    text-align: center;
    margin-bottom: 1.11111rem;
    font-family: 'Great Vibes', cursive;
    color: #8ad1cd;
    position: relative;
  }
  /* line 511, ../scss/style.scss */
  #tagline quote {
    background: white;
    position: relative;
    z-index: 10;
    font-size: 1.33333rem;
  }

  /* ORBIT SLIDER */
  /* line 521, ../scss/style.scss */
  .slider {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 526, ../scss/style.scss */
  .orbit-container {
    padding-bottom: 3.33333rem;
  }
  /* line 528, ../scss/style.scss */
  .orbit-container .orbit-slides-container > * .orbit-caption {
    position: static;
    background-color: #589aae;
    color: white;
  }
  /* line 532, ../scss/style.scss */
  .orbit-container .orbit-slides-container > * .orbit-caption a {
    color: #ffb400;
    text-decoration: underline;
    font-style: italic;
  }
  /* line 537, ../scss/style.scss */
  .orbit-container .orbit-slides-container > * .orbit-caption span.image-credit {
    display: block;
    margin-top: 15px;
    color: #FFF;
  }
  /* line 543, ../scss/style.scss */
  .orbit-container .orbit-bullets {
    display: none;
  }
  /* line 546, ../scss/style.scss */
  .orbit-container .orbit-timer {
    display: none;
  }
  /* line 549, ../scss/style.scss */
  .orbit-container .orbit-prev, .orbit-container .orbit-next {
    display: none;
  }

  /* SIDEBAR */
  /* line 557, ../scss/style.scss */
  aside .widget {
    text-align: center;
    margin-bottom: 3.33333rem;
  }
  /* line 561, ../scss/style.scss */
  aside .widget a {
    color: #808285;
    font-style: italic;
  }
  /* line 566, ../scss/style.scss */
  aside .widget li.cat-item {
    padding: 6px 0;
    list-style: none;
  }
  /* line 572, ../scss/style.scss */
  aside .widget form input[type="text"]::-webkit-input-placeholder {
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }
  /* line 579, ../scss/style.scss */
  aside .widget form input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }
  /* line 586, ../scss/style.scss */
  aside .widget form input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }
  /* line 593, ../scss/style.scss */
  aside .widget form input[type="text"]:-ms-input-placeholder {
    color: #ff9000;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.75px;
  }

  /* POSTS */
  /* line 615, ../scss/style.scss */
  article.excerpt {
    margin-bottom: 2.22222rem;
  }

  /* line 621, ../scss/style.scss */
  .entry-content figure img {
    width: 100%;
  }
  /* line 624, ../scss/style.scss */
  .entry-content figure .vertical-img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  /* line 629, ../scss/style.scss */
  .entry-content figure span.image-credit {
    color: #589aae;
    display: block;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding: 6px 0 11px 0;
  }
  /* line 637, ../scss/style.scss */
  .entry-content figure .vertical-img ~ span.image-credit {
    max-width: 300px;
    margin: 0 auto;
  }
  /* line 643, ../scss/style.scss */
  .entry-content h3 {
    font-size: 14px;
    color: #808285;
    border-bottom: 1px solid #808285;
  }

  /* line 651, ../scss/style.scss */
  .entry-meta {
    text-align: center;
    padding: 10px 0;
    margin: 0 0 15px 0;
    border-top: 1px solid #8ad1cd;
    border-bottom: 1px solid #8ad1cd;
  }
  /* line 658, ../scss/style.scss */
  .entry-meta span {
    color: #589aae;
    font-style: oblique;
    margin: 0 10px;
  }
  /* line 662, ../scss/style.scss */
  .entry-meta span.updated {
    white-space: nowrap;
  }
  /* line 663, ../scss/style.scss */
  .entry-meta span.divider {
    color: #ff9000;
  }

  /* line 669, ../scss/style.scss */
  .more-stuff {
    text-align: right;
    margin-left: 20px;
    padding: 7px 0;
  }
  /* line 674, ../scss/style.scss */
  .more-stuff a.more-link {
    color: #ff9000;
    text-decoration: underline;
    font-style: italic;
  }

  /* line 681, ../scss/style.scss */
  .ssba {
    text-align: right;
  }

    /*--------------------------------  
	
	SUB-PAGES
	
	---------------------------------*/
  /* line 691, ../scss/style.scss */
  .sub-content {
    margin-bottom: 1.66667rem;
  }
  /* line 693, ../scss/style.scss */
  .sub-content h3 {
    font-size: 1rem;
  }

  /* line 700, ../scss/style.scss */
  .sub-sidebar img {
    display: block;
    margin: 0 auto 3px auto;
  }
  /* line 705, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header {
    text-align: center;
    border-top: 1px solid #8ad1cd;
    border-bottom: 1px solid #8ad1cd;
    margin: 0 0 1.11111rem 0;
  }
  /* line 711, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header h6.sub-page {
    color: #ffb400;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1;
    padding: 1.11111rem;
    background: none;
    font-family: "adobe-garamond-pro", sans-serif;
  }
  /* line 720, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header h6.sub-page span {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto -10px auto;
    background: rgba(157, 228, 248, 0.6);
    color: white;
    font-size: 2rem;
    line-height: 1.25;
    font-style: normal;
  }
  /* line 732, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header h6.sub-page span i {
    font-size: 1.16667rem;
  }
  /* line 739, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header:after {
    content: "";
    display: block;
    border-top: 1px solid #8ad1cd;
    height: 3px;
  }
  /* line 748, ../scss/style.scss */
  .sub-sidebar ul li {
    text-align: center;
    margin: 1.11111rem 0;
    font-size: 0.77778rem;
  }
  /* line 752, ../scss/style.scss */
  .sub-sidebar ul li span {
    display: block;
    text-transform: uppercase;
  }
  /* line 756, ../scss/style.scss */
  .sub-sidebar ul li i {
    display: block;
    text-align: center;
  }
  /* line 759, ../scss/style.scss */
  .sub-sidebar ul li i > p {
    display: block;
    color: #8ad1cd;
    text-align: center;
  }
  /* line 768, ../scss/style.scss */
  .sub-sidebar p {
    text-align: left;
  }
  /* line 772, ../scss/style.scss */
  .sub-sidebar a {
    color: #8ad1cd;
    text-align: right;
    display: block;
    text-decoration: underline;
    font-style: italic;
    margin: 0 0 3.33333rem 0;
  }

  /* line 783, ../scss/style.scss */
  h2.page-title {
    border-bottom: none;
    text-align: left;
    color: #589aae;
    font-size: 1.33333rem;
    line-height: 1;
    margin-top: 0;
  }
  /* line 791, ../scss/style.scss */
  h2.page-title:after {
    display: none;
  }

  /* line 797, ../scss/style.scss */
  ul.staggered-list li {
    padding-bottom: 1.66667rem;
    margin-bottom: 1.66667rem;
    border-bottom: 1px solid rgba(128, 130, 133, 0.25);
  }
  /* line 801, ../scss/style.scss */
  ul.staggered-list li figure {
    margin: 0 0 1.11111rem 0;
    width: 100%;
  }
  /* line 804, ../scss/style.scss */
  ul.staggered-list li figure img {
    width: 100%;
    border: 6px solid white;
    outline: 1px solid rgba(128, 130, 133, 0.25);
  }
  /* line 810, ../scss/style.scss */
  ul.staggered-list li p {
    text-align: left;
  }
  /* line 812, ../scss/style.scss */
  ul.staggered-list li p em {
    text-align: left;
    display: block;
    margin: 1.11111rem 0 0 0;
    color: #589aae;
    font-size: 1rem;
  }
  /* line 821, ../scss/style.scss */
  ul.staggered-list li:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  /* WE WANT TO GO TO */
  /* line 831, ../scss/style.scss */
  li.we_want_to_go_link a {
    position: relative;
  }
  /* line 834, ../scss/style.scss */
  li.we_want_to_go_link a img {
    width: 100%;
  }
  /* line 836, ../scss/style.scss */
  li.we_want_to_go_link a .destination_title {
    background: rgba(138, 209, 205, 0.8);
    width: 100%;
    padding: 10px;
    margin-top: -47px;
    z-index: 100;
    position: relative;
  }
  /* line 843, ../scss/style.scss */
  li.we_want_to_go_link a .destination_title p {
    margin-bottom: 0;
    color: white;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  /* CONTACT */
  /* line 856, ../scss/style.scss */
  .destinations-contact {
    border: 1px solid #8ad1cd;
    margin-bottom: 1.11111rem;
    padding: 10px 10px 5px 10px;
  }
  /* line 861, ../scss/style.scss */
  .destinations-contact h3 {
    font-size: 16px;
    color: #808285;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.25;
    border-bottom: none;
  }
  /* line 869, ../scss/style.scss */
  .destinations-contact h3 a {
    text-transform: lowercase;
  }

  /* line 873, ../scss/style.scss */
  .gform_wrapper {
    border: 1px solid #8ad1cd;
  }
  /* line 875, ../scss/style.scss */
  .gform_wrapper .gform_heading {
    border-bottom: 1px solid #8ad1cd;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.25;
  }
  /* line 882, ../scss/style.scss */
  .gform_wrapper .gform_heading, .gform_wrapper .gform_body, .gform_wrapper .gform_footer {
    padding: 1.11111rem;
  }
  /* line 884, ../scss/style.scss */
  .gform_wrapper .gform_heading label, .gform_wrapper .gform_body label, .gform_wrapper .gform_footer label {
    font-style: italic;
  }
  /* line 888, ../scss/style.scss */
  .gform_wrapper .gform_footer {
    padding: 0 0 1.11111rem 0;
  }
  /* line 890, ../scss/style.scss */
  .gform_wrapper .gform_footer input.button.gform_button {
    padding: 10px 45px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    background: #ffb400;
    margin: 0 auto;
    display: block;
  }

  /* line 902, ../scss/style.scss */
  .required-text {
    font-size: 12px;
  }

  /* line 903, ../scss/style.scss */
  #gforms_confirmation_message {
    text-align: center;
    font-size: 2rem;
    color: #ff9000;
    padding: 30px 0;
  }

  /* FOOTER */
  /* line 912, ../scss/style.scss */
  footer {
    margin-top: 3.33333rem;
    border-top: 1px solid #8ad1cd;
    text-align: center;
    padding: 0 15px;
  }
  /* line 920, ../scss/style.scss */
  footer > div div {
    padding: 15px 0;
  }
  /* line 922, ../scss/style.scss */
  footer > div div:nth-of-type(1) {
    border-bottom: 1px solid #8ad1cd;
  }
  /* line 925, ../scss/style.scss */
  footer > div div:nth-of-type(1) img {
    display: block;
    margin: 0 auto 15px auto;
    width: 50%;
    max-width: 200px;
  }
  /* line 932, ../scss/style.scss */
  footer > div div:nth-of-type(1) p {
    font-style: italic;
    color: #8ad1cd;
  }
  /* line 939, ../scss/style.scss */
  footer > div div:nth-of-type(2) {
    border-bottom: 1px solid #8ad1cd;
  }
  /* line 943, ../scss/style.scss */
  footer > div div:nth-of-type(2) ul .menu-item {
    text-transform: uppercase;
    font-style: italic;
  }
  /* line 946, ../scss/style.scss */
  footer > div div:nth-of-type(2) ul .menu-item:nth-of-type(3) {
    display: none;
  }
  /* line 949, ../scss/style.scss */
  footer > div div:nth-of-type(2) ul .menu-item a {
    color: #8ad1cd;
    font-size: 0.85rem;
  }
  /* line 959, ../scss/style.scss */
  footer > div div:nth-of-type(3) ul li a {
    color: #808285;
    font-style: italic;
  }
  /* line 962, ../scss/style.scss */
  footer > div div:nth-of-type(3) ul li a i {
    margin: 0 10px 0 0;
    color: #9de4f8;
  }
  /* line 968, ../scss/style.scss */
  footer > div div:nth-of-type(3) ul.inline-list {
    display: table;
    margin: 15px auto 0 auto;
  }
  /* line 972, ../scss/style.scss */
  footer > div div:nth-of-type(3) ul.inline-list li:first-of-type {
    margin-left: 0;
  }
}
@media only screen and (min-width: 48em) {
  /* line 987, ../scss/style.scss */
  .entry-content p, .sub-content p, .staggered-content p {
    font-size: 0.95rem;
  }

  /* HEADER */
  /* line 993, ../scss/style.scss */
  .social-media {
    display: block;
    margin-top: 1.11111rem;
    padding-right: 0.55556rem;
  }

  /* line 999, ../scss/style.scss */
  .wrapper {
    border-top: 1px solid #8ad1cd;
  }

  /* line 1003, ../scss/style.scss */
  header {
    margin-bottom: 2.22222rem;
  }
  /* line 1005, ../scss/style.scss */
  header nav.top-bar {
    background: none;
    height: auto;
    position: relative;
  }
  /* line 1011, ../scss/style.scss */
  header nav.top-bar ul.title-area {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 180px;
    height: 108px;
    background: url("../img/logo.png");
    background-repeat: none;
    background-size: cover;
    margin: 0 0 0 -90px;
    z-index: 1000;
  }
  /* line 1023, ../scss/style.scss */
  header nav.top-bar ul.title-area li.name h1 a {
    background: none;
    height: 100px;
  }
  /* line 1030, ../scss/style.scss */
  header nav.top-bar .top-bar-section ul.top-nav {
    width: 100%;
    display: table;
    margin: 2px auto;
    background: white;
    border-top: 1px solid #8ad1cd;
    border-bottom: 1px solid #8ad1cd;
  }
  /* line 1039, ../scss/style.scss */
  header nav.top-bar .top-bar-section ul.top-nav li:not(.divider) {
    display: inline-block;
    text-align: center;
    width: 20%;
  }
  /* line 1044, ../scss/style.scss */
  header nav.top-bar .top-bar-section ul.top-nav li:not(.divider) a {
    color: #589aae;
  }
  /* line 1046, ../scss/style.scss */
  header nav.top-bar .top-bar-section ul.top-nav li:not(.divider) a:hover {
    color: #ffb400;
  }
  /* line 1053, ../scss/style.scss */
  header nav.top-bar .top-bar-section ul.top-nav li.divider {
    display: none;
  }
  /* line 1057, ../scss/style.scss */
  header nav.top-bar .top-bar-section ul.top-nav li.active a {
    color: #ff9000;
  }

  /* line 1067, ../scss/style.scss */
  #tagline {
    position: relative;
    margin-bottom: 2.22222rem;
  }
  /* line 1071, ../scss/style.scss */
  #tagline quote {
    background: white;
    position: relative;
    z-index: 10;
    padding: 0 5px;
    font-size: 1.66667rem;
  }
  /* line 1079, ../scss/style.scss */
  #tagline span {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: -12px;
    border-bottom: 1px solid #8ad1cd;
    z-index: 1;
  }
  /* line 1088, ../scss/style.scss */
  #tagline:before, #tagline:after {
    position: relative;
    z-index: 10;
    content: "";
    display: block;
    float: left;
    background: url("../img/planelft.png");
    width: 15px;
    height: 14px;
    margin-top: -7px;
  }
  /* line 1100, ../scss/style.scss */
  #tagline:after {
    float: right;
    background: url("../img/planert.png");
  }

  /* ORBIT SLIDER */
  /* line 1109, ../scss/style.scss */
  .orbit-container {
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 1.66667rem;
  }
  /* line 1113, ../scss/style.scss */
  .orbit-container .orbit-slides-container {
    overflow: hidden;
    max-height: 400px;
  }
  /* line 1116, ../scss/style.scss */
  .orbit-container .orbit-slides-container li img {
    width: 100%;
    margin-top: -10%;
  }
  /* line 1121, ../scss/style.scss */
  .orbit-container .orbit-slides-container > * .orbit-caption {
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    right: 0;
    width: 34%;
    height: 100%;
    border-bottom: none;
    color: white;
  }
  /* line 1130, ../scss/style.scss */
  .orbit-container .orbit-slides-container > * .orbit-caption > div {
    margin: 10% 0 0 0;
    display: table;
    vertical-align: middle;
  }
  /* line 1134, ../scss/style.scss */
  .orbit-container .orbit-slides-container > * .orbit-caption > div a {
    color: white;
  }
  /* line 1139, ../scss/style.scss */
  .orbit-container .orbit-bullets {
    display: block;
  }
  /* line 1142, ../scss/style.scss */
  .orbit-container .orbit-bullets li {
    border: 1px solid #ff9000;
    background: white;
  }
  /* line 1146, ../scss/style.scss */
  .orbit-container .orbit-bullets li.active {
    background: #ff9000;
  }
  /* line 1152, ../scss/style.scss */
  .orbit-container .orbit-prev, .orbit-container .orbit-next {
    display: block;
  }

  /*--------------------------------  
  
  SUB-PAGES
  
   ---------------------------------*/
  /* line 1163, ../scss/style.scss */
  .sub-content {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1.66667rem;
    -webkit-column-gap: 1.66667rem;
    column-gap: 1.66667rem;
  }
  /* line 1167, ../scss/style.scss */
  .sub-content h3#before {
    -moz-page-break-before: always;
    -webkit-column-break-before: always;
    break-before: always;
  }
  /* line 1171, ../scss/style.scss */
  .sub-content p {
    text-align: left;
  }

  /* line 1177, ../scss/style.scss */
  h2.page-title {
    font-size: 1.66667rem;
  }

  /* CONTACT */
  /* line 1185, ../scss/style.scss */
  #gform_wrapper_1 .gform_body {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 3.33333rem;
    -webkit-column-gap: 3.33333rem;
    column-gap: 3.33333rem;
    -moz-column-rule: 1px solid rgba(128, 130, 133, 0.5);
    -webkit-column-rule: 1px solid rgba(128, 130, 133, 0.5);
    column-rule: 1px solid rgba(128, 130, 133, 0.5);
  }
  /* line 1189, ../scss/style.scss */
  #gform_wrapper_1 .gform_body li#field_1_11 {
    -moz-page-break-after: always;
    -webkit-column-break-after: always;
    break-after: always;
  }

  /* FOOTER */
  /* line 1197, ../scss/style.scss */
  footer {
    padding: 0 15px;
  }
  /* line 1202, ../scss/style.scss */
  footer > div div {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  /* line 1206, ../scss/style.scss */
  footer > div div:nth-of-type(1) {
    border-bottom: none;
    border-right: 1px solid rgba(128, 130, 133, 0.25);
  }
  /* line 1209, ../scss/style.scss */
  footer > div div:nth-of-type(1) img {
    display: block;
    margin: 0 auto 15px auto;
    max-width: 140px;
  }
  /* line 1215, ../scss/style.scss */
  footer > div div:nth-of-type(1) p {
    font-style: italic;
    color: #8ad1cd;
  }
  /* line 1222, ../scss/style.scss */
  footer > div div:nth-of-type(2) {
    border-bottom: none;
    border-right: 1px solid rgba(128, 130, 133, 0.25);
  }
  /* line 1225, ../scss/style.scss */
  footer > div div:nth-of-type(2) ul {
    padding-top: 10px;
  }
  /* line 1230, ../scss/style.scss */
  footer > div div:nth-of-type(3) ul {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* TYPOGRAPHY */
  /* line 1244, ../scss/style.scss */
  h6 {
    text-align: center;
    color: white;
    background: url("../img/suitcase.png") no-repeat center center;
    font-family: 'Great Vibes', cursive;
    font-size: 1.33333rem;
    height: 53px;
    padding: 15px 0 0 0;
    margin: -23px auto 0 auto;
  }
  /* line 1254, ../scss/style.scss */
  h6:after {
    content: "";
    display: block;
    border-top: 1px solid #8ad1cd;
    margin-top: -4px;
  }

  /* line 1264, ../scss/style.scss */
  ul.staggered-list li > div {
    display: table;
  }
  /* line 1266, ../scss/style.scss */
  ul.staggered-list li > div figure {
    float: left;
    width: 48%;
    margin: 0 4% 4% 0;
  }
  /* line 1271, ../scss/style.scss */
  ul.staggered-list li > div div.staggered-content {
    width: 48%;
    float: right;
  }
  /* line 1278, ../scss/style.scss */
  ul.staggered-list li:nth-of-type(even) div figure {
    float: right;
    margin: 0 0 4% 4%;
  }
  /* line 1282, ../scss/style.scss */
  ul.staggered-list li:nth-of-type(even) div p {
    float: left;
  }

  /* HEADER/GLOBAL */
  /* line 1293, ../scss/style.scss */
  .social-media {
    margin-top: 1.11111rem;
  }

  /* line 1297, ../scss/style.scss */
  .wrapper {
    margin-bottom: 2.77778rem;
    border: 1px solid #8ad1cd;
  }

  /* line 1302, ../scss/style.scss */
  header {
    margin-bottom: 3.33333rem;
  }
  /* line 1305, ../scss/style.scss */
  header nav.top-bar ul.title-area {
    position: absolute;
    top: -34px;
    left: 50%;
    width: 225px;
    height: 135px;
    margin: 0 0 0 -112px;
  }
  /* line 1313, ../scss/style.scss */
  header nav.top-bar ul.title-area li.name h1 a {
    height: 135px;
  }
  /* line 1321, ../scss/style.scss */
  header .top-bar-section ul.top-nav li a {
    font-size: 1.33333rem;
  }
  /* line 1324, ../scss/style.scss */
  header .top-bar-section ul.top-nav li:not(.has-form) a:not(.button) {
    line-height: 64px;
  }

  /* ORBIT SLIDER */
  /* line 1334, ../scss/style.scss */
  .slider {
    padding-left: 1.66667rem;
    padding-right: 1.66667rem;
  }

  /* PROMO SIDEBAR */
  /* line 1341, ../scss/style.scss */
  .promo {
    border: 1px solid #8ad1cd;
    margin: 2px 0 40px 0;
  }
  /* line 1345, ../scss/style.scss */
  .promo:before {
    content: "";
    display: block;
    border-bottom: 1px solid #8ad1cd;
    height: 3px;
  }
  /* line 1352, ../scss/style.scss */
  .promo .promo-content {
    padding: 15px;
    border-top: 1px solid #8ad1cd;
    margin-top: -12px;
  }
  /* line 1357, ../scss/style.scss */
  .promo .promo-content p {
    text-align: justify;
    font-size: 0.75rem;
  }
  /* line 1362, ../scss/style.scss */
  .promo .promo-content #about-susan, .promo .promo-content #feeling-lost {
    border-bottom: 1px solid rgba(128, 130, 133, 0.25);
    padding: 1.11111rem 0;
    margin-bottom: 1.11111rem;
  }
  /* line 1368, ../scss/style.scss */
  .promo .promo-content #about-susan {
    font-size: 0.66667rem;
  }
  /* line 1370, ../scss/style.scss */
  .promo .promo-content #about-susan img {
    float: left;
    margin: 0 10px 10px 0;
  }
  /* line 1374, ../scss/style.scss */
  .promo .promo-content #about-susan b, .promo .promo-content #about-susan i, .promo .promo-content #about-susan span {
    display: block;
    margin-bottom: 0.27778rem;
    line-height: 1.25;
  }
  /* line 1381, ../scss/style.scss */
  .promo .promo-content #feeling-lost {
    background: url("../img/lost-plane.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 1.25;
  }
  /* line 1389, ../scss/style.scss */
  .promo .promo-content a {
    display: block;
    text-align: right;
    text-decoration: underline;
    font-style: italic;
    color: #808285;
  }

  /*--------------------------------  
  
  SUB-PAGES
  
  ---------------------------------*/
  /* WE WANT TO GO TO... */
  /* line 1412, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header h6.sub-page {
    height: auto;
    margin: 0;
    padding: 1.11111rem 3.33333rem;
    font-size: 1rem;
  }
  /* line 1417, ../scss/style.scss */
  .sub-sidebar .sub-sidebar-header h6.sub-page:after {
    display: none;
  }
}
